<div class="section">
    <h2>OS Info</h2>
    <strong>OS:</strong> {{ system.os_info.os }}<br>
    <strong>Version:</strong> {{ system.os_info.os_version }}<br>
    <strong>Kernel:</strong> {{ system.os_info.kernel }}<br>
    <strong>Uptime:</strong> {{ system.os_info.uptime }}
  </div>
  
  <div class="section">
    <h2>CPU Info</h2>
    <strong>Model:</strong> {{ system.cpu_info.model }}<br>
    <strong>Cores:</strong> {{ system.cpu_info.cores }}<br>
    <strong>Threads:</strong> {{ system.cpu_info.threads }}<br>
    <strong>Usage:</strong> {{ system.cpu_info.usage }}%<br>
    <strong>Frequency:</strong> {{ system.cpu_info.frequency }} MHz<br>
    <strong>Temp:</strong> {{ system.cpu_info.temperature }}°C
  </div>

  <div class="section">
    <h2>Memory Info</h2>
    <strong>Total:</strong> {{ (system.memory_info.total / 1048576) | int }} MB<br>
    <strong>Used:</strong> {{ (system.memory_info.used / 1048576) | int }} MB<br>
    <strong>Available:</strong> {{ (system.memory_info.available / 1048576) | int }} MB<br>
    <strong>Usage:</strong> {{ system.memory_info.percent }}%
  </div>

  <div class="section">
    <h2>Storage Info</h2>
    <strong>Total:</strong> {{ (system.storage_info.total / 1048576) | round(2) }} GB<br>
    <strong>Used:</strong> {{ (system.storage_info.used / 1048576) | round(2) }} GB<br>
    <strong>Available:</strong> {{ (system.storage_info.available / 1048576) | round(2) }} GB<br>
    <strong>Usage:</strong> {{ system.storage_info.percent }}%
  </div>

  
  <div class="section">
    <h2>GPU Info</h2>
    {% if system.gpu_info and system.gpu_info|length > 0 %}
      {% for gpu in system.gpu_info %}
        <strong>Model:</strong> {{ gpu.model }}<br>
        <strong>Usuage:</strong> {{ gpu.usuage }} %<br>
        <strong>Temp:</strong> {{ gpu.temperature }} °C<br>
        <strong>Power:</strong> {{ gpu.power_draw }} W<br>
        <strong>VRAM Usuage:</strong> {{ (gpu.used_memory/1048576) | int }}MB out of {{ (gpu.total_memory/1048576) | int }}MB ({{ gpu.percent_memory }}%)<br>
        {% if not loop.last %}
        <hr>
        {% endif %}
      {% endfor %}
    {% else %}
      <em>No GPUs detected using LACT</em>
    {% endif %}
  </div>
  
  <div class="section">
    <h2>Hardware Video Encoders</h2>
    {% for vendor in system.hwenc_info.vendors.values() %}
      <strong>{{ vendor.label }}:</strong>
      {% if vendor.available %}
        ✔<br>
        {{ vendor.codecs | join(", ") }}
      {% else %}
        ✘
      {% endif %}
      {% if not loop.last %}
      <br>
      {% endif %}
    {% endfor %}
  </div>
  